* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .element {
    all: none;
} */

body, h1, h2 {
    font-family: "Sofia", sans-serif;
}

.aboutme {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.aboutme img {
    width: 30%;
    height: 30%;
    margin: 20px;
}

.intro {
    margin: 20px;
}

.intro h1 {
    font-size: 30px;
}

.resume {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.resume h2 {
    color: blue;
}

.resume h2:visited {
    color: purple;
}

.resume iframe {
    width: 100%;
    height: 600px;
    border: none;
}