* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .element {
    all: none;
} */

body, h1, h2 {
    font-family: "Sofia", sans-serif;
}

/* .restaurant-images {
    display: flex;
    justify-content: center;
} */

.project img {
    width: 50%;
    padding: 10px;
}

.project iframe {
    width: 100%;
    height: 600px;
    border: none;
}

.deliverables {
    list-style-type: none;
}

.project h3 {
    text-decoration: underline;
}